<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Safe-Journey
        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/style.css")
    body
        .wrapper
            .row
                header.header.container
                    nav.nav
                        .logo
                            a(href="javascript:void(0)")
                                img(src="img/logo.png")
                        ul.nav__list
                            li.nav__item
                                a(href="javascript:void(0)").nav__link.nav__link--active Home
                            li.nav__item
                                a(href="javascript:void(0)").nav__link About Us
                            li.nav__item
                                a(href="javascript:void(0)").nav__link Compare Prices
                            li.nav__item
                                a(href="javascript:void(0)").nav__link Booking Status
            .row
                //- search
                .search.container
                    ul.search__list-step
                        li.search__step
                            a.search__link(href="#")
                                span.search__number 1
                                | Search For Bus
                        li.search__step
                            a.search__link.active(href="#")
                                span.search__number 2
                                | Select Bus
                        li.search__step
                            a.search__link(href="#")
                                span.search__number 3
                                | Select Bus Seat
                        li.search__step
                            a.search__link(href="#")
                                span.search__number 4
                                | Passengers Info
                        li.search__step
                            a.search__link(href="#")
                                span.search__number 5
                                | Payment
                    .box.search__box
                        .box__container.search__container
                            h1.search__title ONE WAY
                            .box__date.content1.flex
                                .input-box.no-margin
                                    label(for="park")
                                    span.icon3.icon--place
                                    input(type="text" placeholder="Search by State & Park")#park.input.input3.no-radius
                                .input-box.no-margin
                                    label(for="state")
                                    span.icon3.icon--place
                                    input(type="text" placeholder="To State")#state.input.input3.no-radius
                                .input-box.no-margin
                                    label(for="date")
                                    span.icon3
                                    input(type="text" placeholder="Departure Date" onfocus="(this.type='date')")#date.input.input3.no-radius
                                .input-box.no-margin
                                    label(for="seat")
                                    input(type="text" placeholder="No of Seat")#seat.input.input4.no-radius
                                .btn.btn--search.btn--white Search
                    .departure
                        .departure__time
                            p.departure__title Departure Time
                            .departure__box
                                .departure__left 00:00
                                .departure__right 24:00
                            .departure__range
                                input(type="range")
                        .departure__price
                            p.departure__title Price Range
                            .departure__box
                                .departure__left ₦20,000
                                .departure__right ₦20,000
                            .departure__range
                                input(type="range")
                    .result
                        .result__top
                            h3.result__title Search Result
                            span.icon--list
                        .result__list
                            .result__box
                                .result__img
                                    img(src="img/bus1.png", alt="")
                                .result__time
                                    .row
                                        p Departure
                                        p Arrival
                                    .row 
                                        span LAG
                                        span
                                            span.icon--arrival
                                            span 1hr 20 mins
                                        span EDO
                                    .row
                                        p 16:00
                                        p 09:45
                                    .row
                                        p 12 Jan
                                        p 13 Jan
                                .result__info
                                    ul
                                        li
                                            a(href="#") 14 Seaters
                                        li
                                            a(href="#") 4.3 Rating 
                                        li
                                            a(href="#") Fare Rule
                                        li
                                            a(href="#") Amenities
                                .result__price
                                    p N80,000
                                    .result__button
                                        a(href="#") Details
                                        a(href="#") Select 

                    .rule
                        .rule__left
                            .rule__title Fare Rule
                            .rule__box
                                ul
                                    li * Please note that cancellation charges will be applicable on total ticket value
                                    li * Refundable amount is calculated based on scheduled bus departure time from the first boarding time. 
                                ul
                                    li * Partial cancellation is not allowed for this ticket. Ticket cannot be cancelled after bus departure time
                                    li * Ticket cannot be cancelled after scehduled bus departure time from the first boarding point. 
                        .rule__right
                            ul
                                span.icon--ac
                                li AC
                                span.icon--wifi
                                li FREE WIFI
                                span.icon--tivi
                                li TELEVISION
                                span.icon--snack
                                li SNACKS          
            .row    
                footer.footer.container
                    .footer__list
                        .footer__item
                            .footer__title
                                h2 MENU LISTS
                            ul.footer__box
                                li
                                    a(href="javascript:void(0)") About us
                                li
                                    a(href="javascript:void(0)") Terms and Conditions
                                li
                                    a(href="javascript:void(0)") Cargo
                                li
                                    a(href="javascript:void(0)") FAQ’S
                                li
                                    a(href="javascript:void(0)") Charter Service
                        .footer__item
                            .footer__title
                                h2 CONTACT US
                            .footer__box
                                p Get through to us via our social media platform below. Instagram , Twitter and Facebook.
                                ul.social
                                    li.social__img
                                        a
                                            img(src="img/icon-ins.png", alt="")
                                    li.social__img
                                        a
                                            img(src="img/icon-twitter.png", alt="")
                                    li.social__img
                                        a
                                            img(src="img/icon-facebook.png", alt="")
                                p We have an online customer care support that can attend to all your complaints through our live chat and you can also call us on.
                                .contact
                                    .contact__img
                                        img(src="img/icon-phone.png", alt="")
                                    p 09076555353
                        .footer__item
                            .footer__title
                                h2 SEND A MESSAGE
                            .footer__box
                                label(for="email") Email Address
                                input(type="email" placeholder="Enter Email Address")#email
                                label(for="message") Message
                                input(type="text" placeholder="Type Message Here")#message
                                button#submit Send Message
            //- .row
            //- .row