<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Safe-Journey
        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/style.css")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.1/jquery.min.js')

    body
        .wrapper
            .row
                header.header.container
                    nav.nav
                        .logo
                            a(href="javascript:void(0)")
                                img(src="img/logo.png")
                        ul.nav__list
                            li.nav__item
                                a(href="javascript:void(0)").nav__link.nav__link--active Home
                            li.nav__item
                                a(href="javascript:void(0)").nav__link About Us
                            li.nav__item
                                a(href="javascript:void(0)").nav__link Compare Prices
                            li.nav__item
                                a(href="javascript:void(0)").nav__link Booking Status
            .row
                //- bus seat
                .search.container
                    ul.search__list-step
                        li.search__step
                            a.search__link(href="#")
                                span.search__number 1
                                | Search For Bus
                        li.search__step
                            a.search__link(href="#")
                                span.search__number 2
                                | Select Bus
                        li.search__step
                            a.search__link.active(href="#")
                                span.search__number 3
                                | Select Bus Seat
                        li.search__step
                            a.search__link(href="#")
                                span.search__number 4
                                | Passengers Info
                        li.search__step
                            a.search__link(href="#")
                                span.search__number 5
                                | Payment
                    .seat
                        .seat__item.hidden.seat__available
                            h3.item__title 51 available seat
                            p.item__desc Click on seat Select/Deselect
                            .seat__content
                                .seat__top
                                    ul.seat__list-bus
                                        .seat__row
                                            li.seat__item-bus
                                                input#1.seat--checked(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="1").seat__number 1

                                            li.seat__item-bus
                                                input#2(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="2").seat__number 2
                                            li.seat__item-bus
                                                input(type="checkbox", name="")
                                                span.icon.icon--nonseat
                                                label(for="").seat__number
                                            li.seat__item-bus
                                                input#3(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="3").seat__number 3
                                            li.seat__item-bus
                                                input#4(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="4").seat__number 4
                                        .seat__row
                                            li.seat__item-bus
                                                input#5(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="5").seat__number 5
                                            li.seat__item-bus
                                                input#6(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="6").seat__number 6
                                            li.seat__item-bus
                                                input(type="checkbox", name="")
                                                span.icon.icon--nonseat
                                                label(for="").seat__number
                                            li.seat__item-bus
                                                input#7(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="7").seat__number 7
                                            li.seat__item-bus
                                                input#8(type="checkbox", name="")
                                                span.icon.icon--seat.icon--book1
                                                label(for="8").seat__number 8
                                        .seat__row
                                            li.seat__item-bus
                                                input#9(type="checkbox", name="")
                                                span.icon.icon--seat.icon--book1
                                                label(for="9").seat__number 9
                                            li.seat__item-bus
                                                input#10(type="checkbox", name="")
                                                span.icon.icon--seat.icon--book1
                                                label(for="10").seat__number 10
                                            li.seat__item-bus
                                                input(type="checkbox", name="")
                                                span.icon.icon--nonseat
                                                label(for="").seat__number
                                            li.seat__item-bus
                                                input#11(type="checkbox", name="")
                                                span.icon.icon--seat.icon--reserved1
                                                label(for="11").seat__number 11
                                            li.seat__item-bus
                                                input#12(type="checkbox", name="")
                                                span.icon.icon--seat.icon--reserved1
                                                label(for="12").seat__number 12
                                        .seat__row
                                            li.seat__item-bus
                                                input#13(type="checkbox", name="")
                                                span.icon.icon--seat.icon--reserved1
                                                label(for="13").seat__number 13
                                            li.seat__item-bus
                                                input#14(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="14").seat__number 14
                                            li.seat__item-bus
                                                input(type="checkbox", name="")
                                                span.icon.icon--nonseat
                                                label(for="").seat__number
                                            li.seat__item-bus
                                                input#15(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="15").seat__number 15
                                            li.seat__item-bus
                                                input#16(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="16").seat__number 16
                                        .seat__row
                                            li.seat__item-bus
                                                input#17(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="17").seat__number 17
                                            li.seat__item-bus
                                                input#18(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="18").seat__number 18
                                            li.seat__item-bus
                                                input(type="checkbox", name="")
                                                span.icon.icon--nonseat
                                                label(for="").seat__number
                                            li.seat__item-bus
                                                input#19(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="19").seat__number 19
                                            li.seat__item-bus
                                                input#20(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="20").seat__number 20
                                        .have--door
                                            .left-seat
                                                .seat__row
                                                    li.seat__item-bus
                                                        input#21(type="checkbox", name="")
                                                        span.icon.icon--seat
                                                        label(for="21").seat__number 21
                                                    li.seat__item-bus
                                                        input#22(type="checkbox", name="")
                                                        span.icon.icon--seat
                                                        label(for="22").seat__number 22
                                                    li.seat__item-bus
                                                        input(type="checkbox", name="")
                                                        span.icon.icon--nonseat
                                                        label(for="").seat__number
                                                    li.seat__item-bus
                                                        input(type="checkbox", name="")
                                                        span.icon.icon--nonseat
                                                        label(for="").seat__number
                                                    li.seat__item-bus
                                                        input(type="checkbox", name="")
                                                        span.icon.icon--nonseat
                                                        label(for="").seat__number

                                                .seat__row
                                                    li.seat__item-bus
                                                        input#23(type="checkbox", name="")
                                                        span.icon.icon--seat
                                                        label(for="23").seat__number 23
                                                    li.seat__item-bus
                                                        input#24(type="checkbox", name="")
                                                        span.icon.icon--seat
                                                        label(for="24").seat__number 24
                                                    li.seat__item-bus
                                                        input(type="checkbox", name="")
                                                        span.icon.icon--nonseat
                                                        label(for="").seat__number
                                                    li.seat__item-bus
                                                        input(type="checkbox", name="")
                                                        span.icon.icon--nonseat
                                                        label(for="").seat__number
                                                    li.seat__item-bus
                                                        input(type="checkbox", name="")
                                                        span.icon.icon--nonseat
                                                        label(for="").seat__number

                                                .seat__row
                                                    li.seat__item-bus
                                                        input#25(type="checkbox", name="")
                                                        span.icon.icon--seat
                                                        label(for="25").seat__number 25
                                                    li.seat__item-bus
                                                        input#26(type="checkbox", name="")
                                                        span.icon.icon--seat
                                                        label(for="26").seat__number 26
                                                    li.seat__item-bus
                                                        input(type="checkbox", name="")
                                                        span.icon.icon--nonseat
                                                        label(for="").seat__number
                                                    li.seat__item-bus
                                                        input(type="checkbox", name="")
                                                        span.icon.icon--nonseat
                                                        label(for="").seat__number
                                                    li.seat__item-bus
                                                        input(type="checkbox", name="")
                                                        span.icon.icon--nonseat
                                                        label(for="").seat__number

                                            .right-seat
                                                .seat__row--right
                                                    span.seat__number.text--door DOOR

                                        .seat__row
                                            li.seat__item-bus
                                                input#27(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="27").seat__number 27
                                            li.seat__item-bus
                                                input#28(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="28").seat__number 28
                                            li.seat__item-bus
                                                input(type="checkbox", name="")
                                                span.icon.icon--nonseat
                                                label(for="").seat__number
                                            li.seat__item-bus
                                                input#29(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="29").seat__number 29
                                            li.seat__item-bus
                                                input#30(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="30").seat__number 30
                                        .seat__row
                                            li.seat__item-bus
                                                input#31(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="31").seat__number 31
                                            li.seat__item-bus
                                                input#32(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="32").seat__number 32
                                            li.seat__item-bus
                                                input(type="checkbox", name="")
                                                span.icon.icon--nonseat
                                                label(for="").seat__number
                                            li.seat__item-bus
                                                input#33(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="33").seat__number 33
                                            li.seat__item-bus
                                                input#34(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="34").seat__number 34
                                        .seat__row
                                            li.seat__item-bus
                                                input#35(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="35").seat__number 35
                                            li.seat__item-bus
                                                input#36(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="36").seat__number 36
                                            li.seat__item-bus
                                                input(type="checkbox", name="")
                                                span.icon.icon--nonseat
                                                label(for="").seat__number
                                            li.seat__item-bus
                                                input#37(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="37").seat__number 37
                                            li.seat__item-bus
                                                input#38(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="38").seat__number 38
                                        .seat__row
                                            li.seat__item-bus
                                                input#39(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="39").seat__number 39
                                            li.seat__item-bus
                                                input#40(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="40").seat__number 40
                                            li.seat__item-bus
                                                input(type="checkbox", name="")
                                                span.icon.icon--nonseat
                                                label(for="").seat__number
                                            li.seat__item-bus
                                                input#41(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="41").seat__number 41

                                            li.seat__item-bus
                                                input#42(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="42").seat__number 42
                                        .seat__row
                                            li.seat__item-bus
                                                input#43(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="43").seat__number 43

                                            li.seat__item-bus
                                                input#44(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="44").seat__number 44

                                            li.seat__item-bus
                                                input(type="checkbox", name="")
                                                span.icon.icon--nonseat
                                                label(for="").seat__number
                                            li.seat__item-bus
                                                input#45(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="45").seat__number 45

                                            li.seat__item-bus
                                                input#46(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="46").seat__number 46
                                        .seat__row
                                            li.seat__item-bus
                                                input#47(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="47").seat__number 47

                                            li.seat__item-bus
                                                input#48(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="48").seat__number 48

                                            li.seat__item-bus
                                                input#49(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="49").seat__number 49

                                            li.seat__item-bus
                                                input#50(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="50").seat__number 50

                                            li.seat__item-bus
                                                input#51(type="checkbox", name="")
                                                span.icon.icon--seat
                                                label(for="51").seat__number 51
                                .seat__bottom
                                    ul
                                        li
                                            span.icon.icon--available
                                            span.text--seat available seat
                                        li
                                            span.icon.icon--booked
                                            span.text--seat booked seat
                                        li
                                            span.icon.icon--selected
                                            span.text--seat selected seat
                                        li
                                            span.icon.icon--reserved
                                            span.text--seat reserved seat
                        .seat__item.seat__available
                            h3.item__title PASSENGER INFORMATION
                            p.item__desc.hidden2 .

                            .seat__content.custom__seat-content
                                .form
                                    h1.form__title Enter Passenger Infomation
                                    .form__row
                                        label.form__label(for="name") Full Name
                                        input.form__input#name(type="text" placeholder="Enter Full Name")
                                    .form__row
                                        label.form__label(for="phone") Phone Number
                                        input.form__input#phone(type="tel" placeholder="Enter Phone Number")
                                    .form__row
                                        label.form__label(for="email") Email
                                        input.form__input#email(type="email" placeholder="Enter Email Address")
                                .form
                                    h1.form__title Enter Next of Kin Infomation
                                    .form__row
                                        label.form__label(for="kinName") Next of Kin Full Name
                                        input.form__input#kinName(type="text" placeholder="Enter Full Name")
                                    .form__row
                                        label.form__label(for="kinPhone") Next of Kin Phone Number
                                        input.form__input#kinPhone(type="tel" placeholder="Enter Phone Number")
                                    .form__row
                                        label.form__label(for="kinBirth") Date of Birth
                                        input.form__input#kinBirth(type="date" placeholder="DD-MM-YYYY")
                                    .form__row
                                        label.form__label(for="kinEmail") Next of Kin Email
                                         input.form__input#kinEmail(type="email" placeholder="Enter Email Address")
                                    .form__row
                                        label.form__label(for="kinGender") Gender
                                        input.form__input#kinGender(list="genders" type="text" placeholder="Select Gender")
                                        //- <input list="browsers" name="browser" id="browser">
                                        datalist#genders
                                            option(value="Male")
                                            option(value="Female")


                        .seat__item.seat__summary
                            h3.item__title 51 available seat
                            p.item__desc Click on seat Select/Deselect
                            .seat__content.custom__seat-content
                                .summary__item
                                    span.left--line
                                    .div
                                        .result__box.custom--seat.padding3
                                            .result__row
                                                span.row--address.row--padding Lagos (LOS)
                                                    p.row--desc Yaba, Lagos
                                                .date--time
                                                    p.row--date.row--padding 12 Jan
                                                    p.row--date.row--padding 09:45
                                            span.row--address.row--flex
                                                span.icon.icon--arrival.icon--arrival-small
                                                span.row--mini-time 1hr 20 mins
                                            .result__row
                                                span.row--address.row--padding EDO (Benin)
                                                    p.row--desc Ibadin Park
                                                .date--time
                                                    p.row--date.row--padding 13 Jan
                                                    p.row--date.row--padding 16:00
                                        .result__price-box.padding3
                                            p.result__price-title N67,930
                                .summary__item
                                    span.left--line.line--dashed
                                    .summary__transport.padding3
                                        p.line-text Okeyson Transport
                                .summary__item
                                    span.left--line
                                    .summary__duration.padding3
                                        .summary__duration1
                                            p.row--duration Duration
                                            p.row--desc 6 hr 30 mins
                                        .summary__duration2
                                            .summary__duration2-item
                                                h3 Seat Number
                                                p 35
                                            .summary__duration2-item
                                                h3 Amenities
                                                ul
                                                    li
                                                        span.icon.icon--ac
                                                        a(href="#") AC
                                                    li
                                                        span.icon.icon--wifi
                                                        a(href="#") FREE WIFI
                                //- new here
                                .summary__item
                                    span
                                    //- span.left--line.line--dashed
                                    .summary__transport.padding3
                                        p.line-text Passenger Information
                                .summary__item
                                    span.left--line
                                    .summary__duration.padding3

                                        .summary__duration2
                                            .summary__duration2-item
                                                h3 Passenger’s Full Name
                                                p Ampitan Adewole
                                            .summary__duration2-item
                                                h3 Phone Number
                                                p 08142811138
                                        .summary__duration2
                                            .summary__duration2-item
                                                h3 Email Address
                                                p ampitanade@gmail.com

                                        .summary__duration2
                                            .summary__duration2-item
                                                h3 Next of Kin Full Name
                                                p Adeolu Ademola
                                            .summary__duration2-item
                                                h3 Next of Kin Phone Number
                                                p 08142781293
                                        .summary__duration2
                                            .summary__duration2-item
                                                h3 Next of Kin Email Address
                                                p ademolaade@gmail.com
                                            .summary__duration2-item
                                                h3 Next of Date of Birth
                                                p 11-04-1990
                                        .summary__duration2
                                            .summary__duration2-item
                                                h3 Gender
                                                p Male

                                .summary__item.seat-column.padding3
                                    h3.seat__titleh3 Fare Rule
                                    ul
                                        li.seat__descp * Cancellation charges will be applicable on total ticket value
                                        li.seat__descp * Refundable amount is calculated based on scheduled bus departure time from the first boarding time.
                                        li.seat__descp * Partial cancellation is not allowed for this ticket. Ticket cannot be cancelled after bus departure time
                                        li.seat__descp * Ticket cannot be cancelled after scehduled bus departure time from the first boarding point.
                                .btn
                                    button.btn__search CONTINUE
                                    img(src="img/icon-arrow-white.png")
            .row
                footer.footer.container
                    .footer__list
                        .footer__item
                            .footer__title
                                h2 MENU LISTS
                            ul.footer__box
                                li
                                    a(href="javascript:void(0)") About us
                                li
                                    a(href="javascript:void(0)") Terms and Conditions
                                li
                                    a(href="javascript:void(0)") Cargo
                                li
                                    a(href="javascript:void(0)") FAQ’S
                                li
                                    a(href="javascript:void(0)") Charter Service
                        .footer__item
                            .footer__title
                                h2 CONTACT US
                            .footer__box
                                p Get through to us via our social media platform below. Instagram , Twitter and Facebook.
                                ul.social
                                    li.social__img
                                        a
                                            img(src="img/icon-ins.png", alt="")
                                    li.social__img
                                        a
                                            img(src="img/icon-twitter.png", alt="")
                                    li.social__img
                                        a
                                            img(src="img/icon-facebook.png", alt="")
                                p We have an online customer care support that can attend to all your complaints through our live chat and you can also call us on.
                                .contact
                                    .contact__img
                                        img(src="img/icon-phone.png", alt="")
                                    p 09076555353
                        .footer__item
                            .footer__title
                                h2 SEND A MESSAGE
                            .footer__box
                                label(for="email") Email Address
                                input(type="email" placeholder="Enter Email Address")#email
                                label(for="message") Message
                                input(type="text" placeholder="Type Message Here")#message
                                button#submit Send Message
        script(src="js/main.js")
            //- .row
            //- .row